# ignored in project dir
*.out
cc
perf.data
.vscode/
build/
.xmake/
test/
todo/
.cache/

# temp main sometimes
code/test.cpp

# ignored in llvm/ and gcc/ dir
**/*.ll
**/*.bc
**/*.asm
**/*.S
**/*.s
**/*o
**/*.out
**/*.yy.c
**/*.yy.cc